<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
	{{{_sections.head}}}

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{{#if showTests}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
	
</head>
<body>
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>

	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
			<button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button>
			<strong>flash.intro</strong>{{{flash.message}}}
		</div>
	{{/if}}

	{{{body}}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
	{{{_sections.jquery}}}

	{{#if showTests}}
		<div id="mocha"></div>
		<script type="text/javascript" src="/vendor/mocha.js"></script>
		<script type="text/javascript" src="/vendor/chai.js"></script>
		<script type="text/javascript">
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>

		<!-- include global test script Here -->
		<script type="text/javascript" src="/qa/tests-global.js"></script>

		<!-- Page specific test -->
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}

		<script type="text/javascript">
			mocha.run();
		</script>
	{{/if}}

	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>